default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff lint
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: Ruff format
        entry: ruff format --check
        language: system
        types: [python]

      - id: ty-check
        name: ty typecheck
        entry: /nix/store/h5pvbqg0hyqb76sqfhjs6s7ymw0ha31p-ty-0.0.16/bin/ty check
        language: system
        pass_filenames: false
        always_run: true
        stages:
          - pre-push
